<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2 th:text="#{page.missions}">SOON DO IT</h2>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/missions/add}'|"
              type="button" th:text="#{page.save}">SAVE</button>
    </div>
  </div>

  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th th:text="#{label.mission.id}">TODO ID</th>
        <th th:text="#{label.mission.deadline}">DEADLINE</th>
        <th th:text="#{label.mission.content}">CONTENT</th>
        <th th:text="#{label.mission.status}">STATUS</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="mission : ${missions}">
        <td><a href="mission.html" th:href="@{/missions/{missionId}(missionId=${mission.id})}" th:text="${mission.id}">TODO ID</a></td>
        <td th:text="${mission.deadLine}">DEAD LINE</td>
        <td th:text="${mission.content}">CONTENT</td>
        <td th:text="${mission.status}">COMPLETED</td>
      </tr>
      </tbody>
    </table>
  </div>

</div> <!-- /container -->

</body>
</html>